.modal {
  display: none;
  width: 100%;
}
.modal-show {
  background-color: rgba(49, 50, 51, 0.8);
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  height:  2122%;
  width: 125%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.modal-content{
  background-color: $primary-color;
  width: 317px;
  height: 540px;
  padding: 10px;
  margin-top: 7%;
  margin-left: -20%;
}
.modal-content h2{
 text-align: center;
}

.stripe {
  border-bottom: 2px solid $secondary-color;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

@media (min-width: $size-media-query-tablet){
  .modal-show {
    font-size: 1em;
    height: 192%;
    width: 100%;
  }
.modal-content{
    background-color: $primary-color;
    border-radius: 6px;
    width: 700px;
    height: 555px;
    margin-top: 5%;
    padding: 10px;
  }

}
