$body-background-color: rgb(236, 183, 91);
$primary-color: rgb(37,81,136);
$secondary-color: rgb(255, 255, 255);
$hover-color: rgb(66, 139, 202);
$border-color: rgba(5, 43, 255, 0.3);
$size-media-query-tablet: 768px;
